@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body{
      background-color: #ffffff;
      font-family: 'Poppins', sans-serif;
      margin: 0;
      
}


/* ---------header style area start---------- */
.header-area{
      width: 100%;
      background-color: #ffffff;
}
ul{ 
      display: flex;
      list-style:none ;
}
a{
      text-decoration: none;
      
}
#nab-bar{
      
      overflow: hidden;

}
.container-2{
      display: grid;
      grid-template-columns: 2fr 4fr 2fr;
      align-items: center;

}
.logo{
      padding-right: 10px;
}

ul li a{
      color: black;
      font-size: 20px;
      font-weight: bold;
      padding: 1.6rem;
}
.social-media{
      display: flex;
      justify-content: center;
}


/* ---------header style area end---------- */


.container{
      width: 80%;
      margin: auto;
      margin-bottom: 20px;
         
}
/*------------- Influencers---------- */

.Influencers{
       display: flex;
      justify-content: center;
      align-items: center;  
}
.Influencer-text{
      width: 60%;
}
.Influencer-img{
      width: 40%;
}
.Influencer-text h1{
      font-size: 50px;
}
.text-area {
      width: 200px;
      text-decoration: none;
      background-color: salmon;
      padding: 10px 40px;
}
.text-area a{
      text-decoration: none;
}

.Influencer-img img{
      width: 100%;
      border-radius: 10px;
    
}

/* ---------header style area start---------- */


.company-name{
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      flex-direction: column;
      
}

/*---------- middle section area start-------------- */
.middle-info{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      flex-direction: column;
      margin-left: 20px;
      
}

.text-title{
      text-align: center;
      margin-bottom: 50px;
}

.middle-about{
      border: 2px silid ghostwhite;
      margin-top: 30px;
      box-shadow: 10px, 10px, 10px;
}
.middle-about span{
      font-size: 20px;
      padding: 0, 10px;
}
.fa-star.filde{
      color: #fb901e;
}
.fa-star-half-alt.filde{
      color: #fb901e;
}
.text-more{
      display: flex;
      align-items: center;
      justify-content: center;
      
}
.text-more a{
      text-decoration: none;
      color: #e44880;
}
/*---------- middle section area end-------------- */


/* -------products--products-area--area------start-------- */

.products-area{
      /* display: flex;
      justify-content: center;
      align-items: center;  */
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      
}
/* .products-img{
      width: 40%;
}  */
.products-text{
      /* width: 60%; */
      margin-left: 20px;
}

.products-img img{
      width: 80%;
      border-radius: 10px;
}

.text-now a{
      text-decoration: none;
}
/* ----------products--products-area--area------start------- */

/*-------- -----footer-area-start------------ */

footer{
      height: 30vh;
      background-color: #0a0826;
      margin-top: 50px;
}
.footer-area{
      display: flex;
      justify-content: center;
      align-items: center;
}
.footer-title{
      text-align: center;
      color: seashell;
      margin-top: 20px;
}


.footer-icon{
      color: seashell;
      text-align: center;

}


/*-------- -----footer-area-start------------ */

/*-------- media query---------- */
@media only screen and(max-width:668) {
      .Influencer-text{
            background-color: gold;
      }
      
}
/*-------- media query---------- */